.box{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: 400px 500px 200px;

}
.box1{
    border: 1px dotted red;
    background-color: cornflowerblue;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
   /* grid-column-start:2 ;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;*/
}
.box11{
width: 150px;
height: 150px;
border: 1px solid red;
background-color: darkseagreen;
margin-top: 20px;
margin-left: 20px;
}
.box12{
width: 150px;
height: 150px;
border: 1px solid red;
background-color:darkred;
margin-top: 20px;
margin-left: 20px;
}
.box13{
width: 150px;
height: 150px;
border: 1px solid red;
background-color:coral;
margin-top: 20px;
margin-left: 20px;
}
.box14{
width: 150px;
height: 150px;
border: 1px solid red;
background-color:hotpink;
margin-top: 20px;
margin-left: 20px;
}
.box2{
border: 1px dotted red;
    background-color:forestgreen;


}
.box3{
    border: 1px dotted red;
    background-color:deeppink;

}
.box4{
border: 1px dotted red;
    background-color:crimson;
}